<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    body {
      background-color: #FFFFFF;
    }
  </style>
</head>
<body>
<div class="container">
<img background-size="cover" width="1086" height="586" src="https://imgproxy.natucate.com/yFqtiw6XcMXiNVzSqyCOT4bAbex6SN9A0yfRV6lnJSE/rs:fill/g:ce/w:3840/h:1920/aHR0cHM6Ly93d3cubmF0dWNhdGUuY29tL21lZGlhL3BhZ2VzL3JlaXNlbi9mcmVpd2lsbGlnZW5hcmJlaXQtdXNhLWFyaXpvbmEtbmF0dXJzY2h1dHovZjhhODQ2YTA1MS0xNjc5NDg2Njg3L2ZyZWl3aWxsaWdlbmFyYmVpdC11c2EtYXJpem9uYS1uYXR1cnNjaHV0ei1ncmFuZC1jYW55b24tbmF0dWNhdGUuanBn" alt="">
</div>
</body>
</htm>