<!DOCTYPE html>
<html>
<head>
  <title>Inicio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    body {
      background-color: #add8e6;
      
    }
  </style>
</head>
<body>
<h1> Plataforma para voluntarios! </h1>
</body>
</htm>
